In [4]:
import pandas as pd
df = pd.read_csv("available_vehicles.csv")

In [12]:
df
df.sample(3, replace=True)

,type,weight_capacity,length,width,height,category,cost_per_kg,cost_per_km,vendor,max_duration
54,MobilBox,500000,300,300,300,1,40,80,VENDOR3,600
54,MobilBox,500000,300,300,300,1,40,80,VENDOR3,600
45,GranMax,100000,150,150,150,3,20,40,VENDOR2,600